{% extends '@admin/base.html.twig' %}
{% block body %}
  <v-app>
    <v-content v-if="!this.$store.getters.isLogged">
      <v-container fluid><login></login></v-container>
    </v-content>

    <div v-if="this.$store.getters.isLogged">
      <dashboard></dashboard>
    </div>
  </v-app>
{% endblock %}
