{% extends '@admin/base.html.twig' %}
{% block body %}
  <v-app>
    <v-content v-if="!this.$store.getters.isLogged">
      <v-container fluid><login></login></v-container>
    </v-content>

    <div v-if="this.$store.getters.isLogged">
      <v-navigation-drawer app></v-navigation-drawer>
      <v-toolbar app></v-toolbar>
        <v-content>
          <v-container fluid>
            <router-view></router-view>
          </v-container>
        </v-content>
        <v-footer app></v-footer>
    </div>
  </v-app>
{% endblock %}
